/* IMPORTING CUSTOM FONT SETUP */
@font-face {
    font-family: 'TypewriterMomVibe';
    src: url('Attachments/typewritermomvibe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

:root {
    --resistor: #704F43;
    --opamp :#835B4D;
}

.navbar_svg-frame {
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: 50;
}

.svg-menu {
    width: 100%;
    height: auto;
}

#resistor {
    fill: var(--resistor);
}

#opamp {
    fill: var(--opamp);
}