/* IMPORTING CUSTOM FONT SETUP */
@font-face {
    font-family: 'TypewriterMomVibe';
    src: url('Attachments/typewritermomvibe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #dbca9a;
    background-image: 
      radial-gradient(#aa6623 3px, transparent 4px),
      radial-gradient(#8d7d76 3px, transparent 4px),
      radial-gradient(#698471 3px, transparent 4px),
      radial-gradient(#85afad 3px, transparent 4px),
      radial-gradient(#a7623e 3px, transparent 4px);
    background-size: 40px 40px;
    background-position: 
      0 0,
      10px 20px,
      20px 10px,
      30px 30px,
      15px 25px;
    image-rendering: pixelated;
  }
  

:root {
    --resistor: #704F43;
    --opamp :#835B4D;
}

.navbar_svg-frame {
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 50;
}

.svg-menu {
    position: absolute;
    top: 97px; 
    left: 22px; 
    z-index: 51;
    top: 10%;
    z-index: 50;
}

#resistor {
    fill: var(--resistor);
}

#opamp {
    fill: var(--opamp);
}